{% extends "base_page/base_page.html" %} 
{% load static %} 


{% block title %}
{{title }} 
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	<li class="active">Эвакуация автомобиля</li>
</ul>

<div class="site-evacuation">
	<div class="evacuation">
		<div class="evacuation-title hidden-xs hidden-sm">
			<h1>
				{{ evacuation_slider_images.text|safe }}
			</h1>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header hidden-xs">
		{{ evacuation_titles.fill_out_the_form }}
	</h3>
	<div class="form-evacuator">
		{% if messages %}
			<div class="messages">
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">{{ message }}</div>
				{% endfor %}
			</div>
		{% endif %}
		<form
			id="order-evacuation-form"
			method="post"
			enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group field-order-evacuation-form-name_user required">
						<label class="control-label" for="id_name_user">
							Ваше имя
						</label>
						{{ form.name_user }} 
						{% if form.name_user.errors %}
							<div class="help-block text-danger">
								{{ form.name_user.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group field-order-evacuation-form-call_number required">
						<label class="control-label" for="id_call_number">
							Номер телефона
						</label>
						{{ form.call_number }} 
						{% if form.call_number.errors %}
							<div class="help-block text-danger">
								{{ form.call_number.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group field-order-evacuation-form-email required">
						<label class="control-label" for="id_email">
							Адрес электронной почты
						</label>
						{{ form.email }}
						{% if form.email.errors %}
							<div class="help-block text-danger">
								{{ form.email.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group field-datetimepicker-51 required">
						<label class="control-label" for="id_data_time_order">
							Выберите дату и время
						</label>
						{{ form.data_time_order }}
						{% if form.data_time_order.errors %}
							<div class="help-block text-danger">
								{{ form.data_time_order.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row car-select centered">
				<div class="form-group field-order-evacuation-form-car_body required">
					<label class="control-label">
						Выберите кузов автомобиля
					</label>
					<div id="order-evacuation-form-car_body" role="radiogroup" aria-required="true">
            {% for item in evacuation_car_type %}
              <div class="col-lg-3 col-xs-6 car-{{ forloop.counter0 }}">
                <label class="car-{{ forloop.counter0 }}">
                  <input type="radio" name="car_body" value="{{ item.name }}" required />
                  <span></span>
                  <p>{{ item.name }}</p>
                </label>
              </div>
            {% endfor %}
          </div>
					<div class="help-block"></div>
				</div>
			</div>
			<br/>
			<div class="form-group field-order-evacuation-form-comment_user">
				<label class="control-label" for="id_comment_user">
					Ваш комментарий
				</label>
				{{ form.comment_user }} 
				{% if form.comment_user.errors %}
					<div class="help-block text-danger">
						{{ form.comment_user.errors.0 }}
					</div>
				{% endif %}
			</div>
			<button type="submit" class="kursStyleButton">
				Жду звонка
			</button>
		</form>
	</div>
	<br/>
	<br/>
	<div class="evacuation-tetx-blocks">
		<div class="row">
			<h3 class="pretty-header left-right-line-short-header">
				{{ evacuation_titles.read_more_information }}
			</h3>
		</div>
		<div id="list-wrapper" class="list-wrapper">
			<div data-key="1">
				<h4>
					{{ evacuation_free.title }}
				</h4>
				{{ evacuation_free.text|safe }}
			</div>
			<div style="clear: both; float: none"></div>
		</div>
		<br/>
		<h4>Цены на эвакуацию в случае отказа от ремонта:</h4>
		<br/>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">{{ evacuation_prices_in_case_of_refusal_to_repair_thead.number }}</th>
					<th scope="col">{{ evacuation_prices_in_case_of_refusal_to_repair_thead.vehicle_category }}</th>
					<th scope="col">{{ evacuation_prices_in_case_of_refusal_to_repair_thead.weight_category }}</th>
					<th scope="col">{{ evacuation_prices_in_case_of_refusal_to_repair_thead.price_for_evacuation }}</th>
				</tr>
			</thead>
			<tbody>
				<div id="list-wrapper" class="list-wrapper">
					{% for item in evacuation_prices_in_case_of_refusal_to_repair_tbody %}
						<div data-key="{{ forloop.counter }}">
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								<td>{{ item.vehicle_category }}</td>
								<td>{{ item.weight_category }}</td>
								<td>{{ item.price_for_evacuation }}</td>
							</tr>
						</div>
					{% endfor %}
					<div style="clear: both; float: none"></div>
				</div>
				<tr>
					<th scope="row">6</th>
					<td colspan="3">
						{{ evacuation_prices_in_case_of_refusal_to_repair_tbody_last_two_first.vehicle_category }}
					</td>
				</tr>
				<tr>
					<th scope="row">7</th>
					<td colspan="3">
						{{ evacuation_prices_in_case_of_refusal_to_repair_tbody_last_two_second.vehicle_category }}
					</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<h4>Цены на дополнительные услуги эвакуации:</h4>
		<br/>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">{{ evacuation_prices_for_additional_evacuation_services_thead.number }}</th>
					<th scope="col">{{ evacuation_prices_for_additional_evacuation_services_thead.additional_service_category }}</th>
					<th scope="col">{{ evacuation_prices_for_additional_evacuation_services_thead.additional_service_price }}</th>
				</tr>
			</thead>
			<tbody>
				<div id="list-wrapper" class="list-wrapper">
					{% for item in evacuation_prices_for_additional_evacuation_services_tbody %}
						<div data-key="{{ forloop.counter }}">
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								<td>{{ item.additional_service_category }}</td>
								<td>{{ item.additional_service_price }}</td>
							</tr>
						</div>
					{% endfor %}
					<div style="clear: both; float: none"></div>
				</div>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}
