{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
		<li class="active">Гарантия</li>
	</ul>
	<div class="site-contact">
		<div class="warranty">
			<div class="warranty-title">
				<h1>
					Гарантия<br /><br />
					до <span>180</span> дней
				</h1>
			</div>
		</div>
		<div class="header-contacts centered">
			<h3 class="pretty-header left-right-line-short-header">Гарантия</h3>
		</div>
		<br />
		<div id="list-wrapper" class="list-wrapper">
			<div data-key="1">
				<div class="warranty-obligations">
					<p>
						<strong>1. Общие положения</strong><br />ООО &quot;КУРС&quot;
						ПОДТВЕРЖДАЕТ, ЧТО УПОМЯНУТЫЕ в заказ-наряде РЕМОНТНЫЕ РАБОТЫ БЫЛИ
						ВЫПОЛНЕНЫ С ИСПОЛЬЗОВАНИЕМ ТРЕБУЕМЫХ МАТЕРИАЛОВ И С НАДЛЕЖАЩИМ
						КАЧЕСТВОМ.<br />Гарантийные обязательства не распространяются на
						неисправности и повреждения вследствие нарушения правил эксплуатации,
						ухода и обслуживания автомобиля.
					</p>
					<p>
						<strong>2. Гарантийный срок</strong><br />
						2.1. Гарантийный срок на ремонтные работы составляет 180 (сто
						восемьдесят) календарных дней или 5000 (пять тысяч) км пробега, в
						зависимости от того, что наступит ранее.<br />
						2.2. Гарантийный срок на электрические работы составляет 30 (тридцать)
						календарных дней.<br />
						2.3. Гарантия на новые оригинальные запчасти составляет 180 (сто
						восемьдесят) календарных дней или 5000 (пять тысяч) км пробега.<br />
						2.4. Гарантия на новые неоригинальные запчасти составляет 14
						(четырнадцать) календарных дней.<br />
						2.5. Гарантия на работы по установке дополнительно оборудования
						(сигнализации, парктроников и др.) составляет 12 (двенадцать) месяцев.
					</p>
					<p>
						<strong>3. Условия выполнения гарантийных обязательств</strong><br />
						3.1. При выявлении нарушений в работе автомобиля после проведения
						ремонтных работ или замены запчастей, предоставленных сервисом ООО
						&quot;КУРС&quot; следует незамедлительно обратиться в сервис ООО
						&quot;КУРС&quot;. Автомобиль может быть принят в гарантийный ремонт
						только при предъявлении: неисправного автомобиля и технического
						паспорта.<br />
						3.2. Гарантия включает ремонт или замену (при невозможности ремонта)
						неисправных деталей, узлов и агрегатов, которые были отремонтированы
						или заменены в сервисе ООО &quot;КУРС&quot;, а также бесплатное
						выполнение связанных с этим демонтажно-монтажных работ.<br />
						3.3. Претензии по гарантии на оригинальные запасные части, могут быть
						приняты только при предъявлении неисправных деталей, установленных на
						автомобиле, и документов, подтверждающих их установку в сервисе ООО
						&quot;КУРС&quot
					</p>
					<p>
						<strong
							>4. Условия отказа в выполнении гарантийных обязательств</strong
						><br />
						Гарантийные обязательства теряют силу в следующих случаях:<br />
						4.1. Гарантия не распространяется на детали подверженные естественному
						износу (свечи зажигания, фильтры, приводные ремни, тормозные: колодки,
						диски, барабаны; диски сцепления, лампы, предохранители, щетки
						стеклоочистителя и т. д.).<br />
						4.2. Рекламации по гарантии не принимаются после проведения любых
						ремонтных работ на других станциях техобслуживания.<br />
						4.3. Претензии по функционированию систем и узлов, по которым не
						производились ремонтные работы, а также не снимавшимся в процессе
						работы, не принимаются.<br />
						4.4. Гарантия не распространяется, если причиной неисправности
						автомобиля явились: эксплуатация с чрезмерными нагрузками; проведение
						изменений тюнингового характера (в том числе, доработка кузовных
						элементов, силового агрегата, трансмиссии, подвески и т.п.);
						несоблюдение или нарушение правил эксплуатации, ухода за автомобилем
						согласно руководству по эксплуатации и обслуживания автомобиля.
					</p>
					<p>
						<strong
							>5. Перечень видов работ и запчастей, на которые гарантия не
							распространяется:</strong
						><br />
						5.1. Все виды диагностических работ.<br />
						5.2. Регулировка углов установки и схождения колес.<br />
						5.3. Балансировка колес.<br />
						5.4. Измерение расхода топлива.<br />
						5.5. Корректировка регулировок двигателя.<br />
						5.6. Подгонка и регулировка положения дверей и крышек люков для
						устранения естественного провисания их с целью снижения по возможности
						шума ветра в салоне и устранения не плотностей по периметру дверей и
						люков.<br />
						5.7. Регулировка света фар.<br />
						5.8. Работы, связанные с чисткой топливных баков, трубопроводов,
						топливных насосов, форсунок и другой топливной аппаратуры.<br />
						5.9. На детали электрической группы<br />
						5.10. На запчасти, оригинальные и неоригинальные, приобретенные
						клиентом не через сервис ООО &quot;КУРС&quot;, а также на запчасти б/у
						(бывшие в употребление) гарантия не распространяется, и претензии не
						рассматриваются. За последствия, возникшие на автомобиле в результате
						выхода из строя этих запасных частей ООО &quot;КУРС&quot;
						ответственность не несет.
					</p>
					<p>
						<strong
							>6. Условия стоянки транспорта на территории сервиса ООО
							&quot;КУРС&quot; по истечении ремонтных работ.</strong
						><br />
						6.1. Первые три дня стоянки транспорта после оповещения заказчика о
						выполненном ремонте &ndash; бесплатно. С четвертого по седьмой день
						стоянки после ремонта 250 рублей 00 коп в сутки (двести пятьдесят
						рублей 00 коп), с восьмого дня и все последующие &ndash; 500 рублей 00
						коп в сутки (пятьсот рублей 00 коп).
					</p>
					<p>
						ООО &quot;КУРС&quot; несёт гарантийные обязательства при условии
						соблюдения правил эксплуатации и выполнением клиентом рекомендаций
						полученных на основании результатов выполненных работ (услуг).
					</p>
				</div>
			</div>
			<div style="clear: both; float: none"></div>
		</div>
	</div>
{% endblock content %}
