{% extends "base_page/base_page.html" %} 
{% load static %} 


{% block title %}
{{ title }}
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	<li class="active">Гарантия</li>
</ul>
<div class="site-contact">
	<div class="warranty">
		<div 
			class="warranty-title">
			<h1>
				{{ warranty_slider_images.text|safe }}
			</h1>
		</div>
	</div>
	<div class="header-contacts centered">
		<h3 class="pretty-header left-right-line-short-header">
			{{ warranty_titles.warranty }}
		</h3>
	</div>
	<br />
	<div id="list-wrapper" class="list-wrapper">
		<div data-key="1">
			<div class="warranty-obligations">
				{% for item in warranty_obligations %}
					<p>
						{{ item.title|safe }}
						{{ item.description|safe }}
					</p>
				{% endfor %}
			</div>
		</div>
		<div style="clear: both; float: none"></div>
	</div>
</div>
{% endblock content %}