{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
		<li class="active">Гарантия</li>
	</ul>
	<div class="site-contact">
		<div class="warranty">
			<div class="warranty-title">
				<h1>
					Гарантия<br /><br />
					до <span>180</span> дней
				</h1>
			</div>
		</div>
		<div class="header-contacts centered">
			<h3 class="pretty-header left-right-line-short-header">Гарантия</h3>
		</div>
		<br />
		<div id="list-wrapper" class="list-wrapper">
			<div data-key="1">
				<div class="warranty-obligations">
					{{ warranty_text.general_provisions|safe }}
					{{ warranty_text.warranty_period|safe }}
					{{ warranty_text.execution_conditions|safe }}
					{{ warranty_text.cancellation_conditions|safe }}
					{{ warranty_text.list_types_work|safe }}
					{{ warranty_text.parking_conditions|safe }}
				</div>
			</div>
			<div style="clear: both; float: none"></div>
		</div>
	</div>
{% endblock content %}
