{% extends "base_page/base_page.html" %} 
{% load static %} 


{% block title %} 
{{ title }} 
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	<li class="active">Онлайн запись</li>
</ul>
<div class="site-online-appointment">
	<div class="online-appointment">
		<div class="online-appointment-title hidden-xs">
			<h1>
				Открыта онлайн запись<br /><br />
				на все виды услуг OOO "КУРС"
			</h1>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		Заполните форму и мы свяжемся с вами
	</h3>
	<div class="online-appointment-form">
		<form method="post" id="online-appointment-form">
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="{{ form.name_user.id_for_label }}">
							Ваше имя
						</label>
						{{ form.name_user }} 
						{% if form.name_user.errors %}
							<div class="help-block text-danger">
								{{ form.name_user.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="{{ form.call_number.id_for_label }}">
							Номер телефона
						</label>
						{{ form.call_number }} 
						{% if form.call_number.errors %}
							<div class="help-block text-danger">
								{{ form.call_number.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="{{ form.email.id_for_label }}">
							Адрес электронной почты
						</label>
						{{ form.email }} 
						{% if form.email.errors %}
							<div class="help-block text-danger">
								{{ form.email.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="form-group">
						<label for="{{ form.title_services.id_for_label }}">
							Название услуги
						</label>
						{{ form.title_services }} 
						{% if form.title_services.errors %}
							<div class="help-block text-danger">
								{{ form.title_services.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="form-order-check-list-car_mark">
							Марка автомобиля
						</label>
						<select
							name="car_mark"
							id="form-order-check-list-car_mark"
							class="form-control"
							required
						>
							<option value="">Выберите марку</option>
							{% for mark in form.fields.car_mark.queryset %}
									<option value="{{ mark.id }}">{{ mark.name }}</option>
							{% endfor %}
						</select>
						{% if form.car_mark.errors %}
							<div class="help-block text-danger">
								{{ form.car_mark.errors.0 }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
						<label for="form-order-check-list-car_model">Модель автомобиля</label>
						<select
							name="car_model"
							id="form-order-check-list-car_model"
							class="form-control"
							disabled
							style="background: #eee">
							<option value="">Сначала выберите марку</option>
						</select>
					</div>
				</div>
				<div class="col-lg-3">
    			<div class="form-group">
        		<label for="form-order-check-list-car_modification">Модификация (поколение)</label>
        		<select
							name="car_modification"
							id="form-order-check-list-car_modification"
							class="form-control"
							disabled
							style="background: #eee;">
							<option value="">Сначала выберите модель</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row car-select centered">
				<div class="form-group">
					<label for="id_car_body"> Кузов автомобиля </label>
					<div
						id="order-appointment-form-car_body"
						role="radiogroup"
						aria-required="true"
					>
						{% for item in evacuation_car_type %}
						<div class="col-lg-3 col-xs-6 car-{{ forloop.counter0 }}">
							<label class="car-{{ forloop.counter0 }}">
								<input
									type="radio"
									name="car_body"
									value="{{ item.name }}"
									required
								/>
								<span></span>
								<p>{{ item.name }}</p>
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-lg-4">
					<div class="form-group">
						<label for="{{ form.date_time_order.id_for_label }}">
							Дата и время заказа
						</label>
						{{ form.date_time_order }} {% if form.date_time_order.errors %}
						<div class="help-block text-danger">
							{{ form.date_time_order.errors.0 }}
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-5">
					<div class="form-group">
						<label for="{{ form.comment_user.id_for_label }}">
							Комментарий
						</label>
						{{ form.comment_user }}
					</div>
				</div>
				<div class="col-lg-3">
					<button type="submit" class="kursStyleButton">Жду звонка</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
