{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
		<li class="active">Онлайн запись</li>
	</ul>
	<div class="site-online-appointment">
		<div class="online-appointment">
			<div class="online-appointment-title hidden-xs">
				<h1>
					Открыта онлайн запись<br /><br />
					на все виды услуг OOO "КУРС"
				</h1>
			</div>
			<div class="online-appointment-title hidden-lg">
				<h1>
					Онлайн запись<br /><br />
					на все виды услуг
				</h1>
			</div>
		</div>
		<h3 class="pretty-header left-right-line-short-header">
			Заполните форму и мы свяжемся с вами
		</h3>
		<div class="online-appointment-form">
			<form
				id="w0"
				class="online-appointment-form"
				action="/online-appointment/add-services"
				method="post"
			>
				<input
					type="hidden"
					name="_csrf-frontend"
					value="Jdcq97hU-5mUgPaM5fsrFgtrWN7bkJZSoJr77F0AaNxXmnC2-jC96uL0wcKhvE1fSV8_jZCmxjnJ7Jioalhdhg=="
				/>

				<div class="row">
					<div class="col-lg-6">
						<div
							class="form-group field-online-appointment-form-name_user required"
						>
							<label class="control-label" for="online-appointment-form-name_user"
								>Ваше имя</label
							>
							<input
								type="text"
								id="online-appointment-form-name_user"
								class="form-control"
								name="online-appointment-form[name_user]"
								aria-required="true"
							/>

							<div class="help-block"></div>
						</div>
					</div>
					<div class="col-lg-3">
						<div
							class="form-group field-online-appointment-form-call_number required"
						>
							<label
								class="control-label"
								for="online-appointment-form-call_number"
								>Номер телефона</label
							>
							<input
								type="text"
								id="online-appointment-form-call_number"
								class="form-control"
								name="online-appointment-form[call_number]"
								aria-required="true"
								data-plugin-inputmask="inputmask_8b2a4bfb"
							/>

							<div class="help-block"></div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group field-online-appointment-form-email required">
							<label class="control-label" for="online-appointment-form-email"
								>Адрес электронной почты</label
							>
							<input
								type="text"
								id="online-appointment-form-email"
								class="form-control"
								name="online-appointment-form[email]"
								aria-required="true"
								data-plugin-inputmask="inputmask_b02ee1d6"
							/>

							<div class="help-block"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-3">
						<div
							class="form-group field-online-appointment-form-title_services required"
						>
							<label
								class="control-label"
								for="online-appointment-form-title_services"
								>Название услуги</label
							>
							<select
								id="online-appointment-form-title_services"
								class="form-control"
								name="online-appointment-form[title_services]"
								aria-required="true"
							>
								<option value="">Выберите...</option>
								<option value="Диагностика двигателя">
									Диагностика двигателя
								</option>
								<option value="Диагностика МКПП">Диагностика МКПП</option>
								<option value="Диагностика АКПП">Диагностика АКПП</option>
								<option value="Диагностика CVT(вариатор)">
									Диагностика CVT(вариатор)
								</option>
								<option value="Диагностика подвески">Диагностика подвески</option>
								<option value="Техническое обслуживание">
									Техническое обслуживание
								</option>
								<option value="Слесарный ремонт">Слесарный ремонт</option>
								<option value="Шиномантаж">Шиномантаж</option>
								<option value="Сход-развал">Сход-развал</option>
								<option value="Капитальный ремонт МКПП">
									Капитальный ремонт МКПП
								</option>
								<option value="Капитальный ремонт АКПП">
									Капитальный ремонт АКПП
								</option>
								<option value="Капитальный ремонт CVT(вариатор)">
									Капитальный ремонт CVT(вариатор)
								</option>
								<option value="Капитальный ремонт двигателя">
									Капитальный ремонт двигателя
								</option>
							</select>

							<div class="help-block"></div>
						</div>
					</div>
					<div class="col-lg-3">
						<div
							class="form-group field-online-appointment-form-car_mark required"
						>
							<label class="control-label" for="online-appointment-form-car_mark"
								>Марка автомобиля</label
							>
							<select
								id="online-appointment-form-car_mark"
								class="form-control"
								name="online-appointment-form[car_mark]"
								aria-required="true"
							>
								<option value="">Выберите...</option>
								<option value="10">Lexus</option>
								<option value="11">Scion</option>
								<option value="12">Toyota</option>
							</select>

							<div class="help-block"></div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-group field-online-appointment-form-car_model">
							<label class="control-label" for="online-appointment-form-car_model"
								>Модель автомобиля</label
							>
							<select
								id="online-appointment-form-car_model"
								class="form-control"
								name="online-appointment-form[car_model]"
								disabled
							>
								<option value="">Выберите...</option>
							</select>

							<div class="help-block"></div>
						</div>
					</div>
					<div class="col-lg-3">
						<div
							class="form-group field-online-appointment-form-car_modification"
						>
							<label
								class="control-label"
								for="online-appointment-form-car_modification"
								>Модификация (поколение)</label
							>
							<select
								id="online-appointment-form-car_modification"
								class="form-control"
								name="online-appointment-form[car_modification]"
								disabled
							>
								<option value="">Выберите...</option>
							</select>

							<div class="help-block"></div>
						</div>
					</div>
				</div>
				<div class="row car-select centered">
					<div class="form-group field-online-appointment-form-car_body">
						<label class="control-label">Кузов автомобиля</label>
						<input
							type="hidden"
							name="online-appointment-form[car_body]"
							value=""
						/>
						<div id="online-appointment-form-car_body" role="radiogroup">
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-0"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Седан"
										tabindex="3"
									/><span></span>
									<p>Седан</p></label
								>
							</div>
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-1"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Хетчбек"
										tabindex="3"
									/><span></span>
									<p>Хетчбек</p></label
								>
							</div>
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-2"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Купе"
										tabindex="3"
									/><span></span>
									<p>Купе</p></label
								>
							</div>
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-3"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Универсал"
										tabindex="3"
									/><span></span>
									<p>Универсал</p></label
								>
							</div>
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-4"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Минивен"
										tabindex="3"
									/><span></span>
									<p>Минивен</p></label
								>
							</div>
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-5"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Внедорожник"
										tabindex="3"
									/><span></span>
									<p>Внедорожник</p></label
								>
							</div>
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-6"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Пикап"
										tabindex="3"
									/><span></span>
									<p>Пикап</p></label
								>
							</div>
							<div class="col-lg-3 col-xs-6" id="autotype">
								<label class="car-7"
									><input
										type="radio"
										name="online-appointment-form[car_body]"
										value="Кроссовер "
										tabindex="3"
									/><span></span>
									<p>Кроссовер</p></label
								>
							</div>
						</div>

						<div class="help-block"></div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-lg-4">
						<div class="form-group field-datetimepicker- required">
							<label class="control-label" for="datetimepicker-"
								>Дата и время заказа</label
							>
							<div id="datetimepicker--datetime" class="input-group date">
								<input
									type="text"
									id="datetimepicker-"
									class="form-control"
									name="online-appointment-form[date_time_order]"
									convertFormat
									aria-required="true"
									data-datetimepicker-source="datetimepicker--datetime"
									data-datetimepicker-type="3"
									data-krajee-datetimepicker="datetimepicker_0c609064"
								/><span
									class="input-group-addon kv-datetime-remove"
									title="Очистить поле"
									><i class="glyphicon glyphicon-remove kv-dp-icon"></i></span
								><span
									class="input-group-addon kv-datetime-picker"
									title="Выбрать дату &amp; время"
									><i class="glyphicon glyphicon-calendar kv-dp-icon"></i
								></span>
							</div>

							<div class="help-block"></div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group field-online-appointment-form-comment_user">
							<label
								class="control-label"
								for="online-appointment-form-comment_user"
								>Коментарий</label
							>
							<textarea
								id="online-appointment-form-comment_user"
								class="form-control"
								name="online-appointment-form[comment_user]"
							></textarea>

							<div class="help-block"></div>
						</div>
					</div>
					<div class="col-lg-3">
						<button
							type="submit"
							class="kursStyleButton"
							0="orderServicesModalForm"
						>
							Жду звонка
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}
