{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	<li class="active">Правила обработки данных</li>
</ul>
<div class="site-contact">
	<div class="personal-data">
		<div class="personal-data-title">
			<h1>
				{{ personal_title.title|safe }}
			</h1>
		</div>
	</div>
	<div class="header-contacts centered">
		<h3 class="pretty-header left-right-line-short-header">
			{{ personal_header.rules }}
		</h3>
	</div>
	<br />
	<div class="personal-data-title-text">
		{% for item in personal_text %}
			{{ item.bold_head|safe }}
			{{ item.description|safe }}
		{% endfor %}
	</div>
</div>
{% endblock content %}
