{% extends "main_page/base.html" %}
{% load static %}


{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
		<li class="active">Контакты</li>
	</ul>
	<div class="site-contact">
		<div class="header-contacts">
			<div class="header-contacts-title">
				<h1>
					{{ contacts_images.description|safe }}
					<span style="color: darkred">
						{{ contacts_images.mobile_number }}
					</span>
				</h1>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ contacts_titles.contacts_and_working_hours }}
	</h3>
	<div class="contacts-data">
		<div class="row">
			<div class="col-lg-3 col-xs-6 contacts-block">
				<div class="col-lg-2 col-xs-3">
					{% for item in contacts_working_time %}
						<p class="weekdays">
							{{ item.weekday }}
						</p>
					{% endfor %}
					{% for item in contacts_working_time_weekend %}
						<p class="output">
							{{ item.weekday }}
						</p>
					{% endfor %}
				</div>
				<div class="col-lg-10 col-xs-9">
					{% for item in contacts_working_time %}
						<p class="weekdays-hors">
							{{ item.weekday_hours }}
						</p>
					{% endfor %}
					{% for item in contacts_working_time_weekend %}
						<p class="weekdays-hors">
							{{ item.weekday_hours }}
						</p>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-2 col-xs-6 qr-code contacts-block">
				<img 
					class="qr-code-v-card" 
					src="{{ contacts_company_data.img_qrcode.url }}" 
					alt=""
				/>
				<br> 
				<img
					class="camera-qr-code" 
					src="{{ contacts_company_data.img_qrcode_mobile.url }}" 
					alt=""
				/>
				<br>
				<p>
					{{ contacts_company_data.qrcode_text }}
				</p>
			</div>
			<div class="col-lg-4 col-xs-6 contacts-block">
				<p>
					<li>
						<a class="link-cal-number" href="mailto:kurs_service@mail.ru">
							<img
								src="{{ contacts_company_data.img_email.url }}" 
								alt="unnamed"
							/>
								<span>
									{{ contacts_company_data.email_text }}
								</span>
						</a>
					</li>
				</p>
				<p>
					<img 
						src="{{ contacts_company_data.img_address.url }}" 
						alt="unnamed"
					/> 
					{{ contacts_company_data.address_text }}
				</p>
				<p class="bottom-days">
					<img 
						src="{{ contacts_company_data.imp_open.url }}" 
						alt="unnamed"
					/> 
					{{ contacts_company_data.open_text }}
				</p>
				<p>
					<li>
						<a class="link-cal-number" href="whatsapp://send?phone=+79104484506">
							<img
								src="{{ contacts_company_data.imp_watsapp.url }}" 
								alt="unnamed"
							/>
							<span>
								{{ contacts_company_data.watsapp_text }}
							</span>
						</a>
					</li>
				</p>
			</div>
			<div class="col-lg-3 col-xs-6 contacts-block">
				<div class="phone-service-all">
					<p>
						<li>
							<a class="link-call-number" href="tel:+79104484506">
								<span>
									<i class="fa fa-mobile" aria-hidden="true"></i>
									{{ contacts_company_data.mobile_number|safe }}
								</span>
							</a>
						</li>
					</p>
				</div>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ contacts_titles.contacts_and_details }}
	</h3>
	<div class="row">
		<div class="col-lg-8 data-kurs-doc">
			<p>{{ contacts_company_details.mobile_number }}</p>
			<p>{{ contacts_company_details.actual_address }}</p>
			<p>{{ contacts_company_details.legal_address }}</p>
			<p>{{ contacts_company_details.i_n_n }}</p>
			<p>{{ contacts_company_details.k_p_p }}</p>
			<p>{{ contacts_company_details.r_s }}</p>
			<p>{{ contacts_company_details.k_s }}</p>
			<p>{{ contacts_company_details.bik }}</p>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ contacts_titles.direction_schema }}
	</h3>
	<div class="contacts-driving-directions">
		<div class="row">
			<div class="col-lg-8">
				<div id="list-wrapper" class="list-wrapper">
					{% for item in contacts_direction_schema %}
						<div data-key="{{ forloop.counter }}">
							<div class="transport col-lg-6 col-xs-6" style="margin-top: 10px; ">
								<img 
									class="line-metro" 
									src="{{ item.img_line_metro.url }}" 
									alt=""
								/>
								<p>
									<img 
										src="{{ item.img_train.url }}" 
										alt=""
									/> 
									{{ item.description_train }}
								</p>
								<p>
									<img 
										src="{{ item.img_foot.url }}" 
										alt=""
									/> 
									{{ item.description_foot }}
								</p>
								<p>
									<img 
										src="{{ item.img_taxi.url }}" 
										alt=""
									/> 
									{{ item.description_taxi }}
								</p>
							</div>
						</div>
					{% endfor %}
					<div style="clear:both;float:none;"></div>
				</div>
			</div>
			<div class="col-lg-3">
				<p>
					<a href="{{ contacts_map_schema.img.url }}" data-fancybox>
						<img 
							src="{{ contacts_map_schema.img.url }}" 
						/>
					</a>
				</p>
			</div>
		</div>
	</div>
{% endblock content %}