{% load  static %}


<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="yandex-verification" content="1986c935200ab530" />
		<title>{% block title %}{% endblock title %}</title>
		<meta
			name="keywords"
			content="Москва, Мытищенская, ТТК, Автосервис, автосервис в Москве, ремонт японских автомобилей, ремонт Toyota, Lexus, Тойота, Лексус, шиномонтаж, страхование, сход-развал, диагностика, низкая цена то, низкая цена на ремонтные работы, акции, спеццены"/>
		<meta
			name="description"
			content="Автосервис в Москве. Профессиональные услуги по ремонту автомобиля с гарантией до 1 года по низким ценам, высокий уровень обслуживания без очередей и точно в срок. Работаем без выходных +7 (910) 448-45-06. Москва ул. 1-я Мытищинская 16 с.1"/>

		<link href="{% static "/bootstrap/css/bootstrap.css" %}" rel="stylesheet" />
		<link href="{% static "/css/font-awesome.min.css" %}" rel="stylesheet" />
		<link href="{% static "/css/jquery.flipbox.css" %}" rel="stylesheet" />
		<link href="{% static "/css/animate.css" %}" rel="stylesheet"/>
		<link href="{% static "/css/noty.css" %}" rel="stylesheet" />
		<link href="{% static "/funcybox-plugin/jquery.fancybox.css" %}" rel="stylesheet" />
		<link href="{% static "/css/bootstrap-v4.css" %}" rel="stylesheet" />
		<link href="{% static "/css/site.css" %}" rel="stylesheet"/>
		<link href="{% static "/favicon.ico" %}" rel="icon" />

		<!-- Yandex.Metrika counter -->
		<script type="text/javascript">
			;(function (m, e, t, r, i, k, a) {
				m[i] =
					m[i] ||
					function () {
						;(m[i].a = m[i].a || []).push(arguments)
					}
				m[i].l = 1 * new Date()
				;(k = e.createElement(t)),
					(a = e.getElementsByTagName(t)[0]),
					(k.async = 1),
					(k.src = r),
					a.parentNode.insertBefore(k, a)
			})(
				window,
				document,
				'script',
				'https://mc.yandex.ru/metrika/tag.js',
				'ym'
			)

			ym(85291546, 'init', {
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true,
			})
		</script>
		<noscript>
			<div>
				<img
					src="https://mc.yandex.ru/watch/85291546"
					style="position: absolute; left: -9999px"
					alt=""
				/>
			</div>
		</noscript>
		<!-- /Yandex.Metrika counter -->

	</head>
	<body>
		
		<div class="preloader">
			<div class="preloader__row">
				<div class="preloader__item"></div>
				<div class="preloader__item"></div>
				<div class="preloader__item"></div>
			</div>
		</div>

		<div class="bottom-fix hidden-xs hidden-md">
			<a
				class="productBtn add-to-order-evacuation"
				href="/evacuation/add-modal"
				data-evacuation="1"
				data-title="Запись на эвакуацию"
				>
				<img
					src="{{ base_page_side_menu.img_evacuation.url }}"
					alt="unnamed"
				/>
				<p class="in-pop">Эвакуация</p>
			</a>
			<a href="/contacts">
				<img
					src="{{ base_page_side_menu.img_contacts.url }}"
					alt="unnamed"
				/>
				<p class="in-pop">Контакты</p>
			</a>
			<a
				class="hidden-xs hidden-md"
				href="mailto:kurs_service@mail.ru"
				title="Отправьте нам Емаил"
				>
				<img
					src="{{ base_page_side_menu.img_email.url }}"
					alt="unnamed"
				/>
			</a>
			<a
				class="productBtn add-to-call-back callback-bt hidden-xs hidden-md"
				href="/order-service/add-modal"
				data-services="9"
				data-title="Обратный звонок"
				>
				<img
					src="{{ base_page_side_menu.img_phone.url }}"
					alt="unnamed"
				/>
			</a>
		</div>
		<div class="bottom-fix2 hidden-xs hidden-md">
			<a
				class="productBtn add-to-order-service"
				href="/order-service/add-modal"
				data-services="2"
				data-title="Запись на техническое обслуживание"
				>
				<img
					src="{{ base_page_side_menu.img_remont.url }}"
					alt="unnamed"
				/>
				<p class="in-pop">Запись на Тех. Обсл.</p>
			</a>
			<a
				class="productBtn add-to-order-service"
				href="/order-service/add-modal"
				data-services="3"
				data-title="Запись на диагностику"
				>
				<img
					src="{{ base_page_side_menu.img_diagnostics.url }}"
					alt="unnamed"
				/>
				<p class="in-pop">Диагностика</p>
			</a>
			<a
				class="productBtn add-to-order-service"
				href="/order-service/add-modal"
				data-services="4"
				data-title="Запись на шиномантаж"
				>
				<img
					src="{{ base_page_side_menu.img_shin_service.url }}"
					alt="unnamed"
				/>
				<p class="in-pop">Шинсервис</p>
			</a>
		</div>
		<div class="wrap">
			<div id="header" class="header" style="top: 0px;">
				<div class="container">
					<div class="header-top row">
						<div class="hidden-xs col-sm-4 col-md-4 border-right">
							<a href="/">
								<img 
									src="{{ base_page_header.img_logo.url }}" 
									class="img-responsive"
								>
							</a>
						</div>
						<div class="qr-mobile col-xs-2 col-sm-2 col-md-2 border-right qrcode-menu">
							<a href="/contacts">
								<img 
									src="{{ base_page_header.img_qr_code.url }}" 
									class="img-responsive qrcode" 
									style="float: right;" 
									title="Контакты"
								>
							</a>
						</div>
						<div class="operating-mode col-xs-6 col-sm-3 col-md-3">
							<div class="about desc link_top_phone">
								<a 
									id="phone" 
									class="hidden-md" 
									href="tel:8 (910) 448-45-06" 
									title="Позвонить нам">
									{{ base_page_header.phone|safe }}
								</a>
								<div class="town" style="text-align: left;">
									<i class="fa fa-map-marker" style="color: #ed1c24"></i>
									<span>
										{{ base_page_header.town_address|safe }}
									</span>
								</div>
								<div class="worktime">
									<p>
										<i class="fa fa-clock-o" style="color: #ed1c24"></i> 
										{{ base_page_header.worktime|safe }}
									</p>
								</div>
							</div>
						</div>
						<div class="check-list hidden-xs col-sm-2 col-md-1">
							<a class="check-list" href="/check-list">
								<p>Чек лист - <span id="check-list-big">0</span></p>
							</a>
						</div>
						<div class="site-login-button">
							<div class="col-sm-3 col-md-2 border-right">
								<div class="reg-login">
									{% if request.session.visitor_name %}
										<li class="hidden-xs">
											<span><i class="fa fa-user"></i> {{ request.session.visitor_name }}</span>
										</li>
										<li class="hidden-xs">
											<a href="{% url 'site_login:site_logout' %}"><i class="fa fa-sign-out"></i> Выйти</a>
										</li>
									{% else %}
										<li class="hidden-xs">
											<a href="{% url 'site_login:site_login' %}"><i class="fa fa-sign-in"></i> Вход</a>
										</li>
										<li class="hidden-xs">
											<a href="/site/signup"><i class="fa fa-user-plus"></i> Регистрация</a>
										</li>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="menu-kurs">
				<div class="container">
					<nav
						id="sub-menu-kurs"
						class="navbar-inverse navbar-fixed-top navbar"
					>
						<div class="container">
							<div class="navbar-header">
								<button
									type="button"
									class="navbar-toggle"
									data-toggle="collapse"
									data-target="#sub-menu-kurs-collapse"
								>
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/"></a>
							</div>
							<div id="sub-menu-kurs-collapse" class="collapse navbar-collapse">
								<ul id="w0" class="navbar-nav navbar-left nav">
									<li><a href="/online-appointment">Онлайн запись</a></li>
									<li class="nav-line"></li>
									<li class="dropdown">
										<a class="dropdown-toggle" href="#" data-toggle="dropdown">
											Прайс <span class="caret"></span>
										</a>
										<ul id="w1" class="dropdown-menu">
											<li>
												<a href="/price-maintenance" tabindex="-1">
													Тех обслуживание
												</a>
											</li>
											<li>
												<a href="/price-tire-fitting" tabindex="-1">
													Шиномонтаж
												</a>
											</li>
											<li>
												<a href="/price-shod-razval" tabindex="-1">
													Развал и схождение
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-line"></li>
									<li><a href="/diagnostics">Диагностика</a></li>
									<li class="nav-line"></li>
									<li><a href="/evacuation">Эвакуация</a></li>
									<li class="nav-line"></li>
									<li><a href="/insurance">Страхование</a></li>
									<li class="nav-line"></li>
									<li><a href="/warranty">Гарантия</a></li>
									<li class="nav-line"></li>
									<li><a href="/contacts">Контакты</a></li>
									<li class="nav-line"></li>
									<li><a href="/about">О сервисе</a></li>
									<li class="nav-line"></li>
									<li><a href="/reviews">Отзывы</a></li>
									<li class="nav-line"></li>
									<li class="dropdown">
										<a class="dropdown-toggle" href="#" data-toggle="dropdown">
											Меню <span class="caret"></span>
										</a>
										<ul id="w2" class="dropdown-menu">
											<li><a href="/discounts" tabindex="-1">Акции</a></li>
											<li><a href="/news" tabindex="-1">Новости</a></li>
											<li>
												<a href="/photo-gallery" tabindex="-1">Фотогалерея</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="container">
				<div class="notification hidden" id="notificationOperatorElement">
					<div class="row">
						<div class="col-lg-1 col-xs-2">
							<img
								src="{{ base_page_notification.img.url }}"
								alt=""
							/>
						</div>
						<div class="col-lg-11 col-xs-10">
							<div class="notification_text">
								<p>
									{{ base_page_notification.notification_text|safe }}
									<a
										class="add-to-call-back"
										href="#"
										data-services="9"
										data-title="Обратный звонок"
									>
										оставив заявку
									</a>
									{{ base_page_notification.action_text|safe }}
								</p>
							</div>
						</div>
					</div>
				</div>
				{% block content %}{% endblock content %}
			</div>
		</div>

		<footer id="footer">
			<div class="container">
				<hr/>
				<div class="row">
					<div class="footer-nav">
						<div class="link_top_phone col-lg-4 col-xs-5">
							<a href="tel:8 (910) 448-45-06" title="Позвонить нам">
								8 (910) 448-45-06
							</a>
						</div>
						<div
							class="link_top_phone col-lg-8 col-xs-7"
							style="text-align: right"
						>
							<a
								href="https://yandex.ru/maps/?um=constructor%3A4c4f581d8acc2a9cbee785bedc67ec7b71da3f375886ee79e8f95aa87f5188ab&source=constructorLink">
								Москва, 1-я Мытищинская 16 с.1
							</a>
						</div>
					</div>
				</div>
				<br/>
				<div class="map">
					<div id="map" style="width: auto; height: 400px"></div>
				</div>
				<hr/>
				<div class="footer-img img-responsive"></div>
				<div class="footer-nav">
					<div class="footer-link col-lg-4 col-xs-6">
						<li>
							<a
								class="productBtn add-to-order-service"
								href="/order-service/add-modal"
								data-services="2"
								data-title="Запись на техническое обслуживание">
								Запись на тех. обслуживание
							</a>
						</li>
						<li>
							<a
								class="productBtn add-to-order-service"
								href="/order-service/add-modal"
								data-services="3"
								data-title="Запись на диагностику">
								Запись на диагностику
							</a>
						</li>
						<li>
							<a
								class="productBtn add-to-order-service"
								href="/order-service/add-modal"
								data-services="4"
								data-title="Запись на шиномантаж">
								Запись на шиномантаж
							</a>
						</li>
						<li>
							<a
								class="productBtn add-to-order-service"
								href="/order-service/add-modal"
								data-services="5"
								data-title="Запись на сход - развал">
								Запись на сход-развал
							</a>
						</li>
						<li>
							<a
								class="productBtn add-to-order-evacuation"
								href="/evacuation/add-modal"
								data-evacuation="1"
								data-title="Запись на эвакуацию">
								Запись на эвакуацию
							</a>
						</li>
						<br/>
					</div>
					<div class="col-lg-4 hidden-xs">
						<img
							src="{{ base_page_footer_image.img.url }}"
							alt="logo-kurs"
						/>
					</div>
					<div class="footer-link col-lg-4 col-xs-6" style="text-align: right">
						<li><a href="/contacts/index">Контакты</a></li>
						<li><a href="/about/index">О сервисе</a></li>
						<li><a href="/insurance/index">Страхование</a></li>
						<li><a href="/reviews/index">Отзывы</a></li>
						<li><a href="/warranty/index">Гарантия</a></li>
						<br/>
					</div>
				</div>
				<div class="social-network">
					<div class="row centered">
						{% for item in base_page_social_images %}
							<a
								class="link-cal-number"
								href="{{ item.link }}"
								>
								<img
									src="{{ item.img.url}}"
									alt="unnamed" 
								/><span></span>
							</a>
						{% endfor %}
					</div>
					<div id="bottom-text">
						<div class="row">
							<div class="col-lg-2 col-xs-5">
								<img
									src="{{ base_page_footer.img_logo.url }}"
									alt=""
								/>
							</div>
							<div class="col-lg-7 hidden-xs hidden-sm">
								<p>
									{{ base_page_footer.text|safe }}
								</p>
							</div>
							<div class="col-lg-3 col-xs-7">
								<img
									class="pay_icon"
									src="{{ base_page_footer.pay_icon_cash.url }}"
									alt=""
								/>
								<img
									class="pay_icon"
									src="{{ base_page_footer.pay_icon_mastercard.url }}"
									alt=""
								/>
								<img
									class="pay_icon"
									src="{{ base_page_footer.pay_icon_visa.url }}"
									alt=""
								/>
								<img
									class="pay_icon"
									src="{{ base_page_footer.pay_icon_sber.url }}"
									alt=""
								/>
								<img
									class="pay_icon"
									src="{{ base_page_footer.pay_icon_halva.url }}"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div id="addToOrderServices" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>

		<div id="addToOrderEvacuation" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>

		<div id="addToOrderDiscount" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>

		<div id="addToOrderSpecialPrice" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>

		<div id="addToOrderPriceMaintenance" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>

		<div id="addToOrderPriceTireFitting" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>

		<div id="addToOrderPower" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title"></h4>
					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>

		<div id="addToCheckList" class="fade modal" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-hidden="true"
						>
							&times;
						</button>
						<h4 class="modal-title">Чек лист</h4>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button
							type="button"
							class="kursStyleButtonModal"
							data-dismiss="modal"
						>
							Продолжить
						</button>
						<a href="/check-list" class="kursStyleButton">Оформить</a>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static "/jquery/jquery.js" %}"></script>
		<script src="{% static "/js/wow.min.js" %}"></script>
		<script src="{% static "/js/ddSlider.js" %}"></script>
		<script src="{% static "/js/jquery.accordion.js" %}"></script>
		<script src="{% static "/js/jquery.flipbox.js" %}"></script>
		<script src="{% static "/js/jquery.hoverIntent.minified.js" %}"></script>
		<script src="{% static "/js/noty.js" %}"></script>
		<script src="{% static "/funcybox-plugin/jquery.fancybox.js" %}"></script>
		<script src="https://api-maps.yandex.ru/2.1/?apikey=da8add8e-f8f0-4517-9d2b-dc7d628d6269&amp;lang=ru_RU"></script>
		<script src="{% static "/js/yandex.map.js" %}"></script>
		<script src="{% static "/js/project.js" %}"></script>
		<script src="{% static "/js/main.js" %}"></script>
		<script src="{% static "/bootstrap/js/bootstrap.js" %}"></script>
		<script>
			jQuery(function ($) {
				jQuery('#addToOrderServices').modal({ show: false })
				jQuery('#addToOrderEvacuation').modal({ show: false })
				jQuery('#addToOrderDiscount').modal({ show: false })
				jQuery('#addToOrderSpecialPrice').modal({ show: false })
				jQuery('#addToOrderPriceMaintenance').modal({ show: false })
				jQuery('#addToOrderPriceTireFitting').modal({ show: false })
				jQuery('#addToOrderPower').modal({ show: false })
				jQuery('#addToCheckList').modal({ show: false })
			})
		</script>
	</body>
</html>
