{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li class="active">О сервисе</li>
	</ul>
	<div class="about">
		<h3 class="pretty-header left-right-line-short-header">
			{{ about_headers.description_company }}
		</h3>
		<div class="about-company">
			<div class="row">
				<div class="col-lg-4 col-xs-12 centered">
					<div>
						<div class="interior-background">
							<div class="cart-personnel">
								<img
									src="{% static "/assets_project/img/imgLogo/logo-kurs-new.png" %}"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-xs-12">
					<h3>{{ description_company_text.title }}</h3>
					<div id="list-wrapper" class="list-wrapper">
						<div data-key="1">
							<p> 
								{{ description_company_text.description }}
								<br/>
								<span>
									{{ description_company_text.short_description }}
								</span>
							</p>
						</div>
						<div style="clear: both; float: none"></div>
					</div>
				</div>
			</div>
		</div>
		<h3 class="pretty-header left-right-line-short-header">
			{{ about_headers.advantages }}
		</h3>
		<div class="advantages">
			<hr />
			<div class="row">
				<div id="list-wrapper" class="list-wrapper">
					{% for item in advantages_text %}
						<div data-key="{{ forloop.counter }}">
							<div class="col-lg-3 col-xs-6">
								<div class="item-advantage">
									<h2><span>{{ item.num_big_text }}</span> {{ item.big_text }}</h2>
									<h3><span>{{ item.num_small_text }}</span> {{ item.small_text }}</h3>
									<p>{{ item.description }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
					<div style="clear: both; float: none"></div>
				</div>
			</div>
			<hr />
		</div>
		<h3 class="pretty-header left-right-line-short-header">
			{{ about_headers.best_in_business }}
		</h3>
		<div class="best-service">
			<div class="col-lg-9 col-xs-7">
				<h1>{{ best_in_business.title }}</h1>
				<h2>{{ best_in_business.short_description }}</h2>
				<h3>{{ best_in_business.description }}</h3>
			</div>
			<div class="col-lg-3 col-xs-5">
				<img
					src="{% static "/assets_project/img/imgLogo/principles.png" %}"
					alt=""
				/>
			</div>
		</div>
		<h3 class="pretty-header left-right-line-short-header">
			{{ about_headers.contacts }}
		</h3>
		<div class="contacts-data">
			<div class="row centered">
				<div id="list-wrapper" class="list-wrapper">
					<div data-key="1">
						{% for item in contacts %}
							<div class="col-lg-3 col-xs-6">
								<p>
									<img
										src="{{ item.img.url }}"
										alt="unnamed"
									/><span><br/>{{ item.description }}</span>
								</p>
							</div>
						{% endfor %}
					</div>
					<div style="clear: both; float: none"></div>
				</div>
			</div>
		</div>
		<h3 class="pretty-header left-right-line-short-header">
			{{ about_headers.accurately_time }}
		</h3>
		<div class="right-time">
			<div class="col-lg-8 col-xs-6">
				<h1>{{ accurately_time.title }}</h1>
				<h2>{{ accurately_time.short_description }}</h2>
				<h3>{{ accurately_time.description }}</h3>
			</div>
			<div class="col-lg-4 col-xs-6">
				<img
					src="{% static "/assets_project/img/imgLogo/то_calendar.png" %}"
					alt=""
				/>
			</div>
		</div>
		<h3 class="pretty-header left-right-line-short-header">
			{{ about_headers.training }}
		</h3>
		<div class="educations-personal centered">
			<div class="row">
				<div id="list-wrapper" class="list-wrapper">
					{% for item in training_img %}
						<div data-key="{{ forloop.counter }}">
							<div class="col-lg-4 col-xs-6 educations-personal-block">
								<p>
									<a
										href="{{ item.img.url }}"
										data-fancybox
									>
										<img
											src="{{ item.img.url }}"
										/>
									</a>
								</p>
								<h4>{{ item.description }}</h4>
							</div>
						</div>
					{% endfor %}
					<div style="clear: both; float: none"></div>
				</div>
			</div>
		</div>
		<!--    --><!--    <div class="personal-kurs">-->
		<!--        <div class="row">-->
		<!--            --><!--        </div>-->
		<!--    </div>-->
		<!-- TODO доделать раздел с комментариями -->
		<h3 class="pretty-header left-right-line-short-header">
			{{ about_headers.last_review }}
		</h3>
		<div class="content-reviews-home">
			<div id="list-wrapper" class="list-wrapper">
				<div data-key="2">
					<div class="item-html">
						<div class="reviews-item">
							<hr />
							<div class="reviews-item hidden-xs">
								<div class="row">
									<div class="col-lg-2 centered">
										<img
											src="{% static "/assets_project/img/img-reviews/file603a985ff1445img20200211.jpg" %}"
										/>
										<p>Сергей</p>
										<p><i class="fa fa-calendar"></i> 27.02.2021 в 21:57</p>
									</div>
									<div class="col-lg-8">
										<p>Сергей :</p>
										<p class="speech-bubble" style="padding: 15px">
											Самый адекватный сервис не далеко от дома! Оказалось самое
											выгодное предложение по цене и по времени записи. Записался
											на субботу, все сделали за 3,5 - 4 часа. Цена
											соответствовала заявленной. Вежливые, позитивные ребята.
											Ценник не дерут, все объясняют. Плохо, что нет wi-fi, но
											обещали исправиться... посмотрим. Думаю это не последнее
											обращение в этот сервис.
										</p>
										<div class="">
											<div>
												<p style="text-align: right">
													Ответ администрации ООО "КУРС" :
												</p>
												<p
													class="speech-bubble-2"
													style="padding: 15px; float: right"
												>
													Добрый день, Сергей. Благодарим вас за отзыв. Обещание
													по WI-FI мы помним и уже в работе. Искренне рады, что вы
													столь высоко оцениваете нашу работу.
												</p>
											</div>
										</div>
									</div>
									<div class="col-lg-2 centered">
										<p>
											Администрация <br />
											<span>ООО "КУРС"</span>
										</p>
										<img
											class="centered"
											src="{% static "/assets_project/img/imgLogo/sports-car-auto.png" %}"
											alt=""
										/>
									</div>
								</div>
							</div>
							<div class="item-html-mobile hidden-lg">
								<div class="reviews-item-mobile">
									<div class="row">
										<div class="col-xs-4 centered">
											<img
												src="{% static "/assets_project/img/img-reviews/file603a985ff1445img20200211.jpg" %}"
											/>
											<p>Сергей</p>
											<p class="date-reviews">
												<i class="fa fa-calendar"></i> 27.02.2021 в 21:57
											</p>
										</div>
										<div class="col-xs-8">
											<p class="speech-bubble" style="padding: 15px">
												Самый адекватный сервис не далеко от дома! Оказалось самое
												выгодное предложение по цене и по времени записи.
												Записался на субботу, все сделали за 3,5 - 4 часа. Цена
												соответствовала заявленной. Вежливые, позитивные ребята.
												Ценник не дерут, все объясняют. Плохо, что нет wi-fi, но
												обещали исправиться... посмотрим. Думаю это не последнее
												обращение в этот сервис.
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-8">
										<div>
											<p>Ответ администрации ООО "КУРС" :</p>
											<p class="speech-bubble-2" style="padding: 15px">
												Добрый день, Сергей. Благодарим вас за отзыв. Обещание по
												WI-FI мы помним и уже в работе. Искренне рады, что вы
												столь высоко оцениваете нашу работу.
											</p>
										</div>
									</div>
									<div class="col-xs-4 centered">
										<p>Администрация ООО "КУРС"</p>
										<img
											class="centered"
											src="{% static "/assets_project/img/imgLogo/sports-car-auto-reviews.png" %}"
											alt=""
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr />
				</div>
				<div style="clear: both; float: none"></div>
			</div>
		</div>
		<div class="row centered">
			<div class="content-reviews-home col-lg-12">
				<br />
				<a class="kursStyleButton" href="/reviews">Посмотреть все отзывы</a>
			</div>
		</div>
	</div>
{% endblock content %}
