{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
	<li class="active">Диагностика</li>
</ul>
<div class="site-contact">
	<div>
		<div id="list-wrapper" class="list-wrapper">
			{% for item in diagnostics_main_directions %}
				<div data-key="{{ forloop.counter }}">
					<div class="item-diagnostics">
						<div class="row">
							<h3 class="pretty-header left-right-line-short-header">
								{{ item.title }}
							</h3>
							<div class="col-lg-5">
								<img
									class="img-responsive"
									src="{{ item.img.url }}"
									alt=""
								/>
							</div>
							<div class="col-lg-7">
								<h3>&nbsp;{{ item.main_problems }}</h3>
								<p>{{ item.first_problem }}</p>
								<p>{{ item.second_problem }}</p>
								<p>{{ item.third_problem }}</p>
								<p>
									{{ item.fourth_problem|safe }}<img
										src="{{ item.img_fourth_problem.url }}"
										alt=""
									/>
									на приборной панели.
								</p>
								<p>{{ item.fifth_problem }}</p>
								<br/>
								<a
									class="kursStyleButton add-to-order-service"
									href="/order-service/add-modal"
									data-services="6"
									data-title="Запись на диагностику ДВС"
									>{{ item.button_text }}</a
								>
							</div>
						</div>
						<hr />
					</div>
				</div>
			{% endfor %}
			<div style="clear: both; float: none"></div>
		</div>
	</div>
	<div id="list-wrapper" class="list-wrapper">
		{% for item in diagnostics_wiki_text %}
			<div data-key="{{ forloop.counter }}">
				<h3 class="pretty-header left-right-line-short-header">
					{{ item.title }}
				</h3>
				<div class="diagnostics-blocks-text">
					{{ item.description|safe }}
				</div>
			</div>
		{% endfor %}
		<div style="clear: both; float: none"></div>
	</div>
</div>
{% endblock content %}
