{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
		<li class="active">Диагностика</li>
	</ul>
	<div class="site-contact">
		<div>
			<div id="list-wrapper" class="list-wrapper">
				<div data-key="1">
					<div class="item-diagnostics">
						<div class="row">
							<h3 class="pretty-header left-right-line-short-header">
								Компьютерная диагностика авто:
							</h3>
							<div class="col-lg-5">
								<img
									class="img-responsive"
									src="{% static "/assets_project/img/imgLogo/tab-diagnostics.jpg" %}"
									alt=""
								/>
							</div>
							<div class="col-lg-7">
								<h3>&nbsp;Основные проблемы:</h3>
								<p>1. Повышенный расход топлива;</p>
								<p>2. Неровная работа двигателя;</p>
								<p>3. Потеря мощности;</p>
								<p>
									4. Сигнальная лампочка &laquo;CHECK&raquo;<img
										src="{% static "/assets_project/img/imgLogo/originalnie-zapchasti-min.png" %}"
										alt=""
									/>
									на приборной панели.
								</p>
								<p>
									Также рекомендуется регулярно проводить профилактическую
									диагностику, например, перед дальней дорогой или при смене
									сезона. Компьютерную проверку следует провести, приобретая
									поддержанный автомобиль.
								</p>
								<br />
								<a
									class="kursStyleButton add-to-order-service"
									href="/order-service/add-modal"
									data-services="6"
									data-title="Запись на диагностику ДВС"
									>Запись на диагностику</a
								>
							</div>
						</div>
						<hr />
					</div>
				</div>
				<div data-key="2">
					<div class="item-diagnostics">
						<div class="row">
							<h3 class="pretty-header left-right-line-short-header">
								Диагностика подвески:
							</h3>
							<div class="col-lg-5">
								<img
									class="img-responsive"
									src="{% static "/assets_project/img/imgLogo/podveska-top.jpg" %}"
									alt=""
								/>
							</div>
							<div class="col-lg-7">
								<h3>&nbsp;Основные проблемы:</h3>
								<p>1. Имеется стук при движении</p>
								<p>2. Обнаружен неравномерный износ резины</p>
								<p>3. Увеличен свободный ход рулевого колеса</p>
								<p>4. Система ABC работает некорректно</p>
								<p>
									5. Сигнальная лампочка &laquo;ABS&raquo;<img
										src="{% static "/assets_project/img/imgLogo/abs-warning-light-in-orange-regenerative-braking-symbol.png" %}"
										alt=""
									/>
									на приборной панели.
								</p>
								<br />
								<a
									class="kursStyleButton add-to-order-service"
									href="/order-service/add-modal"
									data-services="7"
									data-title="Запись на диагностику подвески"
									>Запись на диагностику</a
								>
							</div>
						</div>
						<hr />
					</div>
				</div>
				<div data-key="3">
					<div class="item-diagnostics">
						<div class="row">
							<h3 class="pretty-header left-right-line-short-header">
								Диагностика коробки передач:
							</h3>
							<div class="col-lg-5">
								<img
									class="img-responsive"
									src="{% static "/assets_project/img/imgLogo/automat.jpg" %}"
									alt=""
								/>
							</div>
							<div class="col-lg-7">
								<h3>&nbsp;Основные проблемы:</h3>
								<p>1. Отсутствует переключение скоростей</p>
								<p>2. Наблюдаются шумы и пробуксовка</p>
								<p>3. Переход в аварийный режим работы</p>
								<p>4. Рывки при переключении</p>
								<p>
									5. Сигнальная лампочка &laquo;TRANSMISSION SERVICE REQUIRED
									&raquo;<img
										src="{% static "/assets_project/img/imgLogo/art-gear-mini.png" %}"
										alt=""
									/>
									на приборной панели.
								</p>
								<br />
								<a
									class="kursStyleButton add-to-order-service"
									href="/order-service/add-modal"
									data-services="8"
									data-title="Запись на диагностику КПП"
									>Запись на диагностику</a
								>
							</div>
						</div>
						<hr />
					</div>
				</div>
				<div style="clear: both; float: none"></div>
			</div>
		</div>
		<div id="list-wrapper" class="list-wrapper">
			<div data-key="1">
				<h3 class="pretty-header left-right-line-short-header">
					Компьютерная диагностика: цели и задачи
				</h3>
				<div class="diagnostics-blocks-text">
					<p>
						Избежать программного сбоя или неисправности в функционировании
						элементов сложных механизмов помогает компьютерная диагностика
						автомобиля. В рамках диагностических мероприятий происходит считывание
						и обработка кодов ошибок, обнаруженных при анализе действия основных
						узлов и агрегатов.
					</p>
					<p>
						Диагностическое оборудование включает в себя специальные средства
						контроля, такие как диагностические сканеры определенной марки,
						многофункциональные стенды, а также переносные считыватели, известные
						как &laquo;ридеры&raquo;. Все эти устройства подключаются к
						диагностическому разъему авто. Специализированная компьютерная техника
						позволяет не только фиксировать любые изменения в работе различных
						систем, но и стирать найденные коды ошибок с целью их коррекции.
					</p>
					<p>
						Узнать о возможных дефектах и текущих ошибках водитель может
						заблаговременно. Бортовые системы современного автомобиля оборудованы
						электронным блоком управления с функцией самодиагностики,
						анализирующим основные системы автомобиля и оповещающим водителя об их
						неисправности. &nbsp;
					</p>
					<p>
						Автопроизводители рекомендуют регулярно проводить компьютерную
						диагностику авто для обеспечения безотказной работы важнейших систем
						машины. Только высокоточное оборудование, с помощью многочисленных
						электронных датчиков и чипов, способно распознать неполадку в
						программном обеспечении того или иного узла. &nbsp;
					</p>
				</div>
			</div>
			<div data-key="2">
				<h3 class="pretty-header left-right-line-short-header">
					Этапы проведения диагностики
				</h3>
				<div class="diagnostics-blocks-text">
					<p>
						Компьютерная диагностика независимо от марки и модели автомобиля
						включает в себя несколько этапов. Обычно, чтобы комплексно
						диагностировать все неисправности транспортного средства, специалисту
						требуется около 30 минут. Продолжительность анализа одной системы,
						например, сканирование системы на пропуски зажигания, занимает около
						10-15 минут. Чтобы удостовериться в правильности действий сотрудника
						сервисного центра, владельцу автомобиля важно знать, как проходит
						диагностика.
					</p>
					<p>
						1. Обычно первым этапом проводится общая компьютерная диагностика, в
						ходе которой тестирование происходит без активации основных систем.
						Аналоговое тестирование на этом этапе проводится с целью проверки
						системы электрики, а именно: соединений, аккумуляторной батареи и
						генератора.
					</p>
					<p>
						2. При динамической проверке машина фиксируется на стенде, оснащенном
						специальными датчиками, посредством которых данные о работе систем
						передаются для дальнейшего анализа на компьютер.
					</p>
					<p>
						3. На данном этапе удаляется (сбрасывается) собранная бортовой
						системой база данных, а также активируется управляющее устройство для
						сбора информации. Зафиксированные в процессе диагностики коды ошибок
						дешифрируются с помощью профессиональных приложений. В результате
						специалист получает точные данные о неполадке любой электронной
						системы автомобиля.&nbsp;
					</p>
				</div>
			</div>
			<div data-key="3">
				<h3 class="pretty-header left-right-line-short-header">
					Когда проходить диагностику?
				</h3>
				<div class="diagnostics-blocks-text">
					<p>
						Производители автомобилей рекомендуют проводить комплексную
						компьютерную диагностику не реже 1 раза в год при условии, что
						автомобиль исправен, а на бортовом компьютере не видны пиктограммы с
						ошибками. При появлении странных звуков, нехарактерных для машины
						рывков или толчков во время движения необходимо как можно быстрее
						обратиться в надежный сервисный центр с целью тщательной диагностики
						всех систем. Это стоит сделать и в случае, когда машина не
						предупреждает о поломке, но вы чувствуете, что ее поведение
						изменилось.
					</p>
					<p>
						Компьютерная диагностика двигателя автомобиля проводится в том случае,
						если вы заметили, что двигатель издает посторонние звуки, работает
						нестабильно, теряет мощность, а расход топлива изменился в сторону
						увеличения. В ходе диагностики специалисты обычно проверяют систему
						впрыска, корректность функционирования электрики, а также измеряют
						компрессию.
					</p>
					<p>
						Диагностика автоматической коробки передач показана при возникновении
						проблем с переключением скоростей, несвойственных автомобилю рывков,
						толчков и пробуксовок, либо при обнаружении утечки масла.
					</p>
					<p>
						&nbsp;Подвеску следует проверить, если резина автомобиля изнашивается
						неравномерно, а при маневрах во время движения слышен громкий стук.
						Помимо компьютерной диагностики сотрудник СТО обязан провести
						визуальный осмотр неисправной системы и дать необходимые рекомендации
						по ремонту автомобиля. &nbsp;
					</p>
					<p>
						Высококвалифицированные специалисты, &nbsp;ООО &laquo;КУРС&raquo;
						проводят качественную компьютерную диагностику с использованием
						сертифицированного оборудования, рекомендованного зарубежными
						автопроизводителями. Высокий уровень сервиса и выгодная для
						автовладельцев стоимость работ являются основными причинами доверия
						многочисленных клиентов ООО &laquo;КУРС&raquo;. Современные системы
						диагностики, применяемые в нашем сервисе, позволяют своевременно
						обнаружить неисправности, существенно снизив затраты на содержание и
						дальнейший ремонт автомобиля.
					</p>
				</div>
			</div>
			<div style="clear: both; float: none"></div>
		</div>
	</div>
{% endblock content %}
