{% extends "base_page/base_page.html" %} 
{% load static %} 


{% block title %} 
{{ title }} 
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	{% if category %}
		<li>
			<a href="{% url 'price_shod_razval:price_shod_razval' %}">Прайc развал и схождение</a>
		</li>
		<li class="active">{{ category.title }}</li>
	{% else %}
		<li class="active">Прайc развал и схождение</li>
	{% endif %}
</ul>
<div id="price-kurs">
	<div class="row">
		<div class="col-lg-3 hidden-xs">
			<div id="menu-price-kurs">
				<div class="list">
					<h5>Услуги</h5>
					<ul class="sub-menu">
						{% for item in price_shod_razval_categories %}
							<li>
								<a href="{% url 'price_shod_razval:price_shod_razval_category' item.slug %}">
									{{ item.title }} 
								</a>
							</li>
						{% endfor %}
					</ul>
					<br/>
					<div class="menu-discount centered">
						<h4>Акции по теме</h4>
					</div>
					<div class="container-content">
						<div id="list-wrapper" class="list-wrapper">
							<div data-key="5">
								<div class="item-stock-news-sale-menu">
									<div class="item-header">
										<img
											class="logo"
											src="{{ discounts_discount.little_img.url }}"
											alt=""/>
									</div>
									<div class="item-content">
										<img
											class="img-item-sale"
											src="{{ discounts_discount.large_img.url }}"
											alt=""/>
										<h4 class="centered">
											{{ discounts_discount.title|safe }}
										</h4>
										<p>
											{{ discounts_discount.description }}
										</p>
									</div>
									<div class="item-footer centered">
										<button
											class="kursStyleButton add-to-sale"
											data-sale="5"
											data-title="{{ discounts_discount.title }}"
										>
											ПОЛУЧИТЬ ВЫГОДУ
										</button>
									</div>
								</div>
								<br/>
							</div>
							<div style="clear: both; float: none"></div>
						</div>
					</div>
					<a href="/discounts"><h4 class="link-sale centered">Все АКЦИИ</h4></a>
					<br/>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div id="content-price-kurs">
				<div class="list">
					<h5 class="centered">Прайс развал-схождение | OOO "КУРС"</h5>
					<div class="row centered">
						<div id="list-wrapper" class="list-wrapper">
							{% for item in page_obj %}
								<div data-key="{{ item.id }}">
									<div class="col-lg-4">
										<div class="item-price-all">
											<div class="title">
												<h4>{{ item.title }}</h4>
												<p class="sub-title-price">{{ item.sub_title }}</p>
											</div>
											<div class="content">
												<img
													class="img-price-all"
													src="{{ item.img.url }}"
													alt=""
												/>
												<p style="text-align: justify">
													<span>Рекомендации:</span> {{ item.description }}
												</p>
											</div>
											<div class="footer">
												<a
													class="kursStyleButton add-to-price"
													href="/order-price-maintenance/add-modal"
													data-price="{{ item.id }}"
													data-title="{{ item.title }} {{ item.sub_title }}">
													Оформить
												</a>
												<a
													class="kursStyleButton add-to-check-list"
													href="/check-list/add"
													data-services="{{ item.id }}">
													+ в чек лист
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							<div style="clear: both; float: none"></div>
							{% if show_pagination %}
								<ul class="pagination">
									{% if page_obj.has_previous %}
										<li class="container-li first">
											<a class="my-pagination" href="?page=1">Первая</a>
										</li>
										<li class="container-li prev">
											<a 
												class="my-pagination" 
												href="?page={{ page_obj.previous_page_number }}">
												<i class="fa fa-arrow-left"></i>
											</a>
										</li>
									{% else %}
										<li class="container-li first disabled"><span>Первая</span></li>
										<li class="container-li prev disabled"><span><i class="fa fa-arrow-left"></i></span></li>
									{% endif %}

									{% for num in page_obj.paginator.page_range %}
										{% if page_obj.number == num %}
											<li class="container-li active">
												<span>{{ num }}</span>
											</li>
										{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
											<li class="container-li">
												<a class="my-pagination" href="?page={{ num }}">{{ num }}</a>
											</li>
										{% endif %}
									{% endfor %}

									{% if page_obj.has_next %}
										<li class="container-li next">
											<a 
												class="my-pagination" 
												href="?page={{ page_obj.next_page_number }}">
												<i class="fa fa-arrow-right"></i></a>
										</li>
										<li class="container-li last">
											<a class="my-pagination" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
										</li>
									{% else %}
										<li class="container-li next disabled"><span><i class="fa fa-arrow-right"></i></span></li>
										<li class="container-li last disabled"><span>Последняя</span></li>
									{% endif %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
