{% extends "base_page/base_page.html" %} 
{% load static %} 


{% block title %}
{{title }} 
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	<li class="active">Акции от ООО &quot;КУРС&quot;</li>
</ul>
<div class="site-contact">
	<div class="header-contacts centered">
		<h3 class="pretty-header left-right-line-short-header">
			{{ discounts_titles.discounts }}
		</h3>
	</div>
	<div>
		<div class="item-special-price">
			<div class="row">
				<div id="list-wrapper" class="list-wrapper">
					{% for item in discounts_discount %}
						<div data-key="{{ forloop.counter }}">
							<div class="col-lg-4">
								<div class="discounts">
									<div class="container-content">
										<div class="item-discounts">
											<div class="item-header">
												<img
													class="logo"
													src="{{ item.little_img.url }}"
													alt=""
												/>
											</div>
											<div class="item-content">
												<img
													class="img-item-sale-max img-responsive"
													src="{{ item.large_img.url }}"
													alt=""
												/>
												<h4 class="centered">{{ item.title|safe }}</h4>
												<p>
													{{ item.description|safe }}
												</p>
											</div>
											<div class="item-footer centered">
												<button
													class="kursStyleButton add-to-sale"
													data-sale="{{ forloop.counter }}"
													data-title="{{ item.title }}">
													ПОЛУЧИТЬ ВЫГОДУ
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<div style="clear: both; float: none"></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
