{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
		<li class="active">Акции от ООО &quot;КУРС&quot;</li>
	</ul>
	<div class="site-contact">
		<div class="header-contacts centered">
			<h3 class="pretty-header left-right-line-short-header">
				{{ discounts_titles.discount }}
			</h3>
		</div>
		<div>
			<div class="item-special-price">
				<div class="row">
					<div id="list-wrapper" class="list-wrapper">
						{% for item in discounts_content %}
							<div data-key="{{ forloop.counter }}">
								<div class="col-lg-4">
									<div class="discounts">
										<div class="container-content">
											<div class="item-discounts">
												<div class="item-header">
													<img
														class="logo"
														src="{{ item.img_logo.url }}"
														alt=""
													/>
												</div>
												<div class="item-content">
													<img
														class="img-item-sale-max img-responsive"
														src="{{ item.img.url }}"
														alt=""
													/>
													<h4 class="centered">
														{{ item.title }}
													</h4>
													<p>
														{{ item.description }}
													</p>
												</div>
												<div class="item-footer centered">
													<button
														class="kursStyleButton add-to-sale"
														data-sale="1"
														data-title="Первый визит скидка 5%"
													>
														{{ item.button_text }}
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						<div style="clear: both; float: none"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
