{% extends "base_page/base_page.html" %} 
{% load static %} 


{% block title %} 
{{ title }} 
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	<li class="active">Новости</li>
</ul>
<div class="reviews-container">
	<div class="news">
		<div class="container-content">
			<div id="list-wrapper" class="list-wrapper">
				{% for item in news %}
					<div data-key="{{ forloop.counter }}">
						<div class="item-news-max">
							<div class="item-header">
								<img
									class="logo"
									src="{{ item.little_img.url }}"
									alt=""
								/>
							</div>
							<div class="item-news">
								<div class="content-news">
									<div class="row">
										<div class="col-lg-4">
											<img
												class="img-item-sale"
												src="{{ item.img.url }}"
												alt=""
											/>
										</div>
										<div class="col-lg-8">
											<h3>{{ item.title|safe }}</h3>
											<p>
												{{ item.description|safe }}
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="footer-news">
										<p style="text-align: right">Размещенно: {{ item.created_at }}</p>
									</div>
								</div>
							</div>
						</div>
						<br/>
					</div>
				{% endfor %}
				<div style="clear: both; float: none"></div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
