{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="/">Главная</a></li>
		<li class="active">Отзывы</li>
	</ul>
	<div class="reviews-container">
		<h3 class="pretty-header left-right-line-short-header">Отзывы посетителей</h3>
		<div class="content-reviews">
			<div id="list-wrapper" class="list-wrapper">
				<div data-key="1">
					<div class="item-html">
						<div class="reviews-item">
							<hr />
							<div class="reviews-item hidden-xs">
								<div class="row">
									<div class="col-lg-2 centered">
										<img
											src="{% static "/assets_project/img/img-reviews/noavatar_man.png" %}"
										/>
										<p>Александр</p>
										<p><i class="fa fa-calendar"></i> 08.04.2019 в 21:06</p>
									</div>
									<div class="col-lg-8">
										<p>Александр :</p>
										<p class="speech-bubble" style="padding: 15px">
											Я обращался в сервис для замены ступицы. Понравилось, что
											прошло оперативно, без лишних вопросов. Работы было много,
											поэтому я не стал ждать, а вечером приехал и забрал
											автомобиль. Мне мастер предложил положить старые запчасти в
											коробки, чтобы я смог проверить, но я сам попросил, чтобы их
											утилизировали. По окончанию мне выдали акт о выполненных
											работах и чек. У меня еще предстоят более сложные работы,
											поэтому буду надеяться на дальнейшее сотрудничество.
										</p>
										<div class="">
											<div>
												<p style="text-align: right">
													Ответ администрации ООО "КУРС" :
												</p>
												<p
													class="speech-bubble-2"
													style="padding: 15px; float: right"
												>
													Добрый день, Александр. Благодарим вас за отзыв, который
													может оказаться полезен нашим потенциальным клиентам.
													Искренне рады, что вы столь высоко оцениваете нашу
													работу.
												</p>
											</div>
										</div>
									</div>
									<div class="col-lg-2 centered">
										<p>
											Администрация <br />
											<span>ООО "КУРС"</span>
										</p>
										<img
											class="centered"
											src="{% static "/assets_project/img/imgLogo/sports-car-auto.png" %}"
											alt=""
										/>
									</div>
								</div>
							</div>
							<div class="item-html-mobile hidden-lg">
								<div class="reviews-item-mobile">
									<div class="row">
										<div class="col-xs-4 centered">
											<img
												src="{% static "/assets_project/img/img-reviews/noavatar_man.png" %}"
											/>
											<p>Александр</p>
											<p class="date-reviews">
												<i class="fa fa-calendar"></i> 08.04.2019 в 21:06
											</p>
										</div>
										<div class="col-xs-8">
											<p class="speech-bubble" style="padding: 15px">
												Я обращался в сервис для замены ступицы. Понравилось, что
												прошло оперативно, без лишних вопросов. Работы было много,
												поэтому я не стал ждать, а вечером приехал и забрал
												автомобиль. Мне мастер предложил положить старые запчасти
												в коробки, чтобы я смог проверить, но я сам попросил,
												чтобы их утилизировали. По окончанию мне выдали акт о
												выполненных работах и чек. У меня еще предстоят более
												сложные работы, поэтому буду надеяться на дальнейшее
												сотрудничество.
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-8">
										<div>
											<p>Ответ администрации ООО "КУРС" :</p>
											<p class="speech-bubble-2" style="padding: 15px">
												Добрый день, Александр. Благодарим вас за отзыв, который
												может оказаться полезен нашим потенциальным клиентам.
												Искренне рады, что вы столь высоко оцениваете нашу работу.
											</p>
										</div>
									</div>
									<div class="col-xs-4 centered">
										<p>Администрация ООО "КУРС"</p>
										<img
											class="centered"
											src="{% static "/assets_project/img/imgLogo/sports-car-auto-reviews.png" %}"
											alt=""
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr />
				</div>
				<div data-key="2">
					<div class="item-html">
						<div class="reviews-item">
							<hr />
							<div class="reviews-item hidden-xs">
								<div class="row">
									<div class="col-lg-2 centered">
										<img
											src="{% static "/assets_project/img/img-reviews/file603a985ff1445img20200211.jpg" %}"
										/>
										<p>Сергей</p>
										<p><i class="fa fa-calendar"></i> 27.02.2021 в 21:57</p>
									</div>
									<div class="col-lg-8">
										<p>Сергей :</p>
										<p class="speech-bubble" style="padding: 15px">
											Самый адекватный сервис не далеко от дома! Оказалось самое
											выгодное предложение по цене и по времени записи. Записался
											на субботу, все сделали за 3,5 - 4 часа. Цена
											соответствовала заявленной. Вежливые, позитивные ребята.
											Ценник не дерут, все объясняют. Плохо, что нет wi-fi, но
											обещали исправиться... посмотрим. Думаю это не последнее
											обращение в этот сервис.
										</p>
										<div class="">
											<div>
												<p style="text-align: right">
													Ответ администрации ООО "КУРС" :
												</p>
												<p
													class="speech-bubble-2"
													style="padding: 15px; float: right"
												>
													Добрый день, Сергей. Благодарим вас за отзыв. Обещание
													по WI-FI мы помним и уже в работе. Искренне рады, что вы
													столь высоко оцениваете нашу работу.
												</p>
											</div>
										</div>
									</div>
									<div class="col-lg-2 centered">
										<p>
											Администрация <br />
											<span>ООО "КУРС"</span>
										</p>
										<img
											class="centered"
											src="{% static "/assets_project/img/imgLogo/sports-car-auto.png" %}"
											alt=""
										/>
									</div>
								</div>
							</div>
							<div class="item-html-mobile hidden-lg">
								<div class="reviews-item-mobile">
									<div class="row">
										<div class="col-xs-4 centered">
											<img
												src="{% static "/assets_project/img/img-reviews/file603a985ff1445img20200211.jpg" %}"
											/>
											<p>Сергей</p>
											<p class="date-reviews">
												<i class="fa fa-calendar"></i> 27.02.2021 в 21:57
											</p>
										</div>
										<div class="col-xs-8">
											<p class="speech-bubble" style="padding: 15px">
												Самый адекватный сервис не далеко от дома! Оказалось самое
												выгодное предложение по цене и по времени записи.
												Записался на субботу, все сделали за 3,5 - 4 часа. Цена
												соответствовала заявленной. Вежливые, позитивные ребята.
												Ценник не дерут, все объясняют. Плохо, что нет wi-fi, но
												обещали исправиться... посмотрим. Думаю это не последнее
												обращение в этот сервис.
											</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-8">
										<div>
											<p>Ответ администрации ООО "КУРС" :</p>
											<p class="speech-bubble-2" style="padding: 15px">
												Добрый день, Сергей. Благодарим вас за отзыв. Обещание по
												WI-FI мы помним и уже в работе. Искренне рады, что вы
												столь высоко оцениваете нашу работу.
											</p>
										</div>
									</div>
									<div class="col-xs-4 centered">
										<p>Администрация ООО "КУРС"</p>
										<img
											class="centered"
											src="{% static "/assets_project/img/imgLogo/sports-car-auto-reviews.png" %}"
											alt=""
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr />
				</div>
				<div style="clear: both; float: none"></div>
			</div>
		</div>
		<h3 class="pretty-header left-right-line-short-header">
			Оставьте отзыв или пожелание
		</h3>
		<div class="form-reviews">
			<div class="row centered">
				<br />
				<p>
					ВНИМАНИЕ!!! Чтобы оставить коментарий пройдите процесс регистрации и
					авторизации на сайте.
				</p>
			</div>
			<div class="row centered">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<br />
					<a class="kursStyleButton" href="/site/login">Вход / Регистрация</a>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
	</div>
{% endblock content %}
