{% extends "main_page/base.html" %} 
{% load static %} 


{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
	<ul class="breadcrumb">
		<li><a href="{% url "main_page:main_page" %}">Главная</a></li>
		<li class="active">Регистрация</li>
	</ul>
	<div class="site-signup">
		<h3 class="pretty-header left-right-line-short-header">Регистрация</h3>
		<h3>Пожалуйста, заполните следующие поля, чтобы зарегистрироваться:</h3>
		<div style="display: none">
			<p>Исправьте следующие ошибки:</p>
			<ul></ul>
		</div>
		<div class="signup-form-kurs">
			<div class="row">
				<div class="col-lg-5">
					<form id="form-signup" action="/site/signup" method="post">
						<input
							type="hidden"
							name="_csrf-frontend"
							value="zYK6bf8Pr4i2iBj5j9Qy42YVFtdj2fT5TVy4tx5Smfe_z-AsvWvp-8D8L7fLk1SqJCFxhCjvpJIkKtvzKQqsrQ=="
						/>
						<div class="form-group field-signupform-username required">
							<label class="control-label" for="signupform-username"
								>Ваше имя</label
							>
							<input
								type="text"
								id="signupform-username"
								class="form-control"
								name="SignupForm[username]"
								aria-required="true"
							/>

							<div class="help-block"></div>
						</div>
						<div class="form-group field-signupform-email required">
							<label class="control-label" for="signupform-email"
								>Адрес электронной почты</label
							>
							<input
								type="text"
								id="signupform-email"
								class="form-control"
								name="SignupForm[email]"
								aria-required="true"
							/>

							<div class="help-block"></div>
						</div>
						<div class="form-group field-signupform-password required">
							<label class="control-label" for="signupform-password"
								>Пароль</label
							>
							<input
								type="password"
								id="signupform-password"
								class="form-control"
								name="SignupForm[password]"
								aria-required="true"
							/>

							<div class="help-block"></div>
						</div>
						<div class="form-group field-signupform-retypepassword required">
							<label class="control-label" for="signupform-retypepassword"
								>Повторите пароль</label
							>
							<input
								type="password"
								id="signupform-retypepassword"
								class="form-control"
								name="SignupForm[retypePassword]"
								aria-required="true"
							/>

							<div class="help-block"></div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary" name="signup-button">
								Зарегистрироваться
							</button>
						</div>
						<div style="color: #999; margin: 1em 0">
							Если вы зарегистрированы то выполните
							<a href="{% url "site_login:site_login" %}">вход</a>.
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
