{% extends "base_page/base_page.html" %} 
{% load static %} 


{% block title %} 
{{ title }} 
{% endblock title %} 


{% block content %}
<ul class="breadcrumb">
	<li><a href="/">Главная</a></li>
	<li class="active">Ваш чек лист</li>
</ul>

<div class="section">
	<div id="content-check-list">
		<div class="centered">
			<h3 class="pretty-header left-right-line-short-header">Ваш чек лист</h3>
		</div>
		{% if check_list_items %}
			<div class="desktop hidden-xs">
				<div class="table-responsive">
					<table class="table table-check-list">
						<thead class="kurs-table">
							<tr>
								<th>Фото</th>
								<th>Наименование услуги</th>
								<th>Количество</th>
								<th>Удалить</th>
							</tr>
						</thead>
						<tbody>
							{% for item in check_list_items %}
							<tr>
								<td>
									<img class="imgModalBlock" src="{{ item.img_url }}" alt="" />
								</td>
								<td class="cart-content"><p>{{ item.service_name }}</p></td>
								<td>
									<div class="cart_quantity_button">
										<a
											class="cart_quantity_up"
											href="{% url 'check_list:increment_check_list' %}"
											data-services="{{ item.service_id }}">
											+
										</a>
										<input
											class="cart_quantity_input qty"
											type="text"
											name="quantity"
											value="{{ item.quantity }}"
											autocomplete="off"
											size="1"
											disabled
										/>
										<a
											class="cart_quantity_down"
											href="{% url 'check_list:decrement_check_list' %}"
											data-services="{{ item.service_id }}">
											-
										</a>
									</div>
								</td>
								<td>
									<span
										data-services="{{ item.service_id }}"
										class="glyphicon glyphicon-remove text-danger del-item"
										href="{% url 'check_list:remove_check_list_item' %}"
										aria-hidden="true">
									</span>
								</td>
							</tr>
							{% endfor %}
							<tr>
								<td colspan="3">Количество выбранных услуг:</td>
								<td>{{ check_list_count }}<span> шт.</span></td>
							</tr>
							<tr>
								<td colspan="5">
									Стоимость рассчитывается после заказа (на основании введенных
									вами данных).
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="form-check-list-order">
				<div class="centered">
					<h3 class="pretty-header left-right-line-short-header">
						Оформление записи на сервис
					</h3>
				</div>
				<div class="check-list-form-style">
					<form id="form-order-check-list" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label for="{{ form.name.id_for_label }}">
										Ваше имя
									</label>
									{{ form.name }} 
									{% if form.name.errors %}
										<div class="help-block text-danger">
											{{ form.name.errors.0 }}
										</div>
									{% endif %}
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="{{ form.number.id_for_label }}">
										Номер телефона
									</label>
									{{ form.number }} 
									{% if form.number.errors %}
										<div class="help-block text-danger">
											{{ form.number.errors.0 }}
										</div>
									{% endif %}
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="{{ form.email.id_for_label }}">
										Адрес электронной почты
									</label>
									{{ form.email }} 
									{% if form.email.errors %}
										<div class="help-block text-danger">
											{{ form.email.errors.0 }}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label for="form-order-check-list-car_mark">
										Марка автомобиля
									</label>
									{{ form.car_mark }} 
									{% if form.car_mark.errors %}
										<div class="help-block text-danger">
											{{ form.car_mark.errors.0 }}
										</div>
									{% endif %}
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="form-order-check-list-car_model">
										Модель автомобиля
									</label>
									{{ form.car_model }} 
									{% if form.car_model.errors %}
										<div class="help-block text-danger">
											{{ form.car_model.errors.0 }}
										</div>
									{% endif %}
								</div>
							</div>
							<div class="col-lg-4">
								<div class="form-group">
									<label for="form-order-check-list-car_modification">
										Модификация (поколение)
									</label>
									{{ form.car_modification }} 
									{% if form.car_modification.errors %}
										<div class="help-block text-danger">
											{{ form.car_modification.errors.0 }}
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<div class="form-group">
									<label for="{{ form.date_time_order.id_for_label }}">
										Дата и время
									</label>
									{{ form.date_time_order }} 
									{% if form.date_time_order.errors %}
										<div class="help-block text-danger">
											{{ form.date_time_order.errors.0 }}
										</div>
									{% endif %}
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="{{ form.comment_user.id_for_label }}">
										Комментарий пользователя
									</label>
									{{ form.comment_user }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-lg-offset-9">
								<button type="submit" class="kursStyleButton">Жду звонка</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		{% else %}
			{% if messages %}
				<div class="messages">
					{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">
							{{ message }}
						</div>
					{% endfor %}
				</div>
			{% endif %}
			<div class="empty-shopping-check-list">
				<p>В данный момент вы не добавили еще ни одной услуги</p>
				<p>
					Посетите наш прайс лист, например техническое обслуживание автомобиля<br/><br/>
					<a class="kursStyleButton" href="/price-maintenance">
						Техническое обслуживание
					</a>
				</p>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
