{% extends "main_page/base.html" %} 
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %} 


{% block content %}
<div class="site-index">
	<div class="slider-kurs">
		<div class="box hidden-xs" id="slider-kurs">
			{% for item in main_page_slider %}
				<div class="side side{{ forloop.counter }}">
					<a href="{% url item.url_slider %}">
						<img
							src="{{ item.img_slider.url }}"
							alt=""
						/>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="advantages">
		<hr />
		<div class="row">
			<div id="list-wrapper" class="list-wrapper">
				{% for item in about_advantages %}
					<div data-key="{{ forloop.counter }}">
						<div class="col-lg-3 col-xs-6">
							<div class="item-advantage">
								<h2><span>{{ item.num_big_text }}</span> {{ item.big_text }}</h2>
								<h3><span>{{ item.num_small_text }}</span> {{ item.small_text }}</h3>
								<p>{{ item.description }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				<div style="clear: both; float: none"></div>
			</div>
		</div>
		<hr />
	</div>
	<div class="sale-news-stock hidden-xs">
		<!-- Сделать рандомный показ новостей и акций -->
		<div class="row">
			<div class="col-lg-4 col-xs-4">
				<div class="stock">
					<div class="container-content">
						<div class="title">
							<h3 class="centered">
								АКЦИИ
							</h3>
						</div>
						<br />
						<div class="container-content">
							<div id="list-wrapper" class="list-wrapper">
								<div data-key="1">
									<div class="item-stock-news-sale">
										<div class="item-header">
											<img
												class="logo"
												src="{% static "/assets_project/img/img-logo-discounts/toyota-lexus.jpg" %}"
												alt=""
											/>
										</div>
										<div class="item-content">
											<img
												class="img-item-sale"
												src="{% static "/assets_project/img/img-discounts/last-znakomstvo.jpg" %}"
												alt=""
											/>
											<h4 class="centered">Первый визит скидка 5%</h4>
											<p>
												ООО "КУРС" предоставляет 5% скидку владельцам TOYOTA и
												LEXUS на...
											</p>
										</div>
										<div class="item-footer centered">
											<button
												class="kursStyleButton add-to-sale"
												data-sale="1"
												data-title="Первый визит скидка 5%"
											>
												ПОЛУЧИТЬ ВЫГОДУ
											</button>
										</div>
									</div>
									<br />
								</div>
								<div style="clear: both; float: none"></div>
							</div>
						</div>
					</div>
					<div class="title">
						<a href="discounts/index"
							><h4 class="link-sale centered">Все АКЦИИ</h4></a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-4">
				<div class="stock">
					<div class="container-content">
						<div class="title">
							<h3 class="centered">АКЦИИ</h3>
						</div>
						<br />
						<div class="container-content">
							<div id="list-wrapper" class="list-wrapper">
								<div data-key="7">
									<div class="item-stock-news-sale">
										<div class="item-header">
											<img
												class="logo"
												src="{% static "/assets_project/img/img-logo-discounts/percent.png" %}"
												alt=""
											/>
										</div>
										<div class="item-content">
											<img
												class="img-item-sale"
												src="{% static "/assets_project/img/img-discounts/shinomontaz-sale.jpg" %}"
												alt=""
											/>
											<h4 class="centered">Пятое колесо в подарок</h4>
											<p>Пятое колесо в подарок при условии...</p>
										</div>
										<div class="item-footer centered">
											<button
												class="kursStyleButton add-to-sale"
												data-sale="7"
												data-title="Пятое колесо в подарок"
											>
												ПОЛУЧИТЬ ВЫГОДУ
											</button>
										</div>
									</div>
									<br />
								</div>
								<div style="clear: both; float: none"></div>
							</div>
						</div>
					</div>
					<div class="title">
						<a href="discounts/index"
							><h4 class="link-sale centered">Все АКЦИИ</h4></a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-4">
				<div class="title">
					<h3 class="centered">НОВОСТИ</h3>
				</div>
				<br />
				<div class="news">
					<div class="container-content">
						<div id="list-wrapper" class="list-wrapper">
							<div data-key="1">
								<div class="item-stock-news-sale">
									<div class="item-header">
										<img
											class="logo"
											src="{% static "/assets_project/img/img-news/news.jpg" %}"
											alt=""
										/>
									</div>
									<div class="item-content">
										<img
											class="img-item-sale"
											src="{% static "/assets_project/img/img-news/covid.jpg" %}"
											alt=""
										/>
										<h4 class="centered">Вакцинация персонала от COVID-19</h4>
										<p>
											Важная информация! Сотрудники ООО "КУРС" для безопасности
											своего и вашего здоровья...
										</p>
									</div>
									<div class="item-footer link-news centered">
										<a class="kursStyleButton" href="news/index"
											>ПРОЧЕСТЬ НОВОСТИ</a
										>
									</div>
								</div>
								<br />
							</div>
							<div style="clear: both; float: none"></div>
						</div>
					</div>
				</div>
				<div class="title">
					<a href="news/index"
						><h4 class="link-sale centered">Все новости</h4></a
					>
				</div>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ main_page_titles.direction_of_activity }}
	</h3>
	<div class="direction-kurs">
		<div class="row">
			<div id="list-wrapper" class="list-wrapper">
				{% for item in main_page_direction_of_activity %}
					<div data-key="{{ forloop.counter }}">
						<div class="col-lg-3 col-xs-6 centered">
							<div class="item-direction-activity">
								<img
									src="{{ item.img.url }}"
									alt="diagnostics.png"
								/>
								<h4>
									{{ item.title }}
								</h4>
								<p class="body-text">
									{{ item.description }}
								</p>
								<p class="footer">
									от {{ item.price }} ₽
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
				<div style="clear: both; float: none"></div>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ main_page_titles.always_in_stock }}
	</h3>
	<div class="consumables">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="centered">
					{{ main_page_always_in_stock_main_text.main_text }}
				</h3>
			</div>
			<div id="list-wrapper" class="list-wrapper">
				{% for item in main_page_always_in_stock %}
					<div data-key="{{ forloop.counter }}">
						<div class="col-lg-4">
							<div class="item-oil-details">
								<div class="col-lg-8 col-xs-8">
									<h4>
										{{ item.title }}
									</h4>
									<p>
										{{ item.description }}
									</p>
								</div>
								<div class="col-lg-4 col-xs-4">
									<img
										src="{{ item.img.url }}"
										alt=""
									/>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div style="clear: both; float: none"></div>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ main_page_titles.additional_power_equipment }}
	</h3>
	<div class="preview-power hidden-xs hidden-sm">
		<div class="row">
			<div class="col-lg-3">
				<img
					class="left"
					src="{{ main_page_additional_power_equipment_amth.left_img.url }}"
				/>
			</div>
			<div class="col-lg-6">
				<p>
					{{ main_page_additional_power_equipment_amth.description }}
				</p>
			</div>
			<div class="col-lg-3">
				<img
					class="right"
					src="{{ main_page_additional_power_equipment_amth.right_img.url }}"
				/>
			</div>
		</div>
	</div>
	<div class="power-accessories-block">
		<div class="row">
			<div id="list-wrapper" class="list-wrapper">
				{% for item in main_page_additional_power_equipment %}
					<div data-key="{{ forloop.counter }}">
						<div class="col-lg-3 col-xs-6">
							<div class="power-accessories centered">
								<div class="power-accessories-header">
									<h4>{{ item.title }}</h4>
								</div>
								<div class="power-accessories-body">
									<a
										href="{{ item.img.url }}"
										data-fancybox="images"
									>
										<img
											src="{{ item.img.url }}"
										/>
									</a>
									<p>
										{{ item.description|safe }}
									</p>
								</div>
								<div class="power-accessories-footer">
									<button
										class="kursStyleButton add-to-order-power"
										data-title="Усиленные бамперы"
										data-power="{{ forloop.counter }}"
									>
										{{ item.button_text }}
									</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div style="clear: both; float: none"></div>
			</div>
		</div>
	</div>

	<h3 class="pretty-header left-right-line-short-header">
		{{ main_page_titles.our_advantages }}
	</h3>
	<div class="about-company-info">
		<div class="embed-responsive embed-responsive-16by9 video">
			<video
				class="overlay"
				src="{% static main_page_our_advantages_video.video %}"
				type="video/mp4"
				autoplay=""
				loop=""
				preload="auto"
				muted=""
				id="video"
			></video>
			<div class="row">
				<div class="col-lg-1 hidden-xs hidden-md"></div>
				<div class="col-lg-10">
					<div id="list-wrapper" class="list-wrapper">
						<div data-key="1">
							<p>
								{{ main_page_our_advantages.text|safe }}
							</p>
						</div>
						<div style="clear: both; float: none"></div>
					</div>
				</div>
				<div class="col-lg-1 hidden-xs hidden-md"></div>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ main_page_titles.frequently_asked_questions }}
	</h3>
	<div class="direction-kurs">
		<div class="faq">
			<div class="wrapper-faq">
				<div id="list-wrapper" class="list-wrapper">
					{% for item in main_page_questions %}
						<div data-key="{{ forloop.counter }}">
							<div class="item-faq">
								<div data-toggle-id="answer-{{ forloop.counter }}" class="question arrow">
									<h4 class="title-question">
										{{ item.question }}
									</h4>
								</div>
								<div id="answer-{{ forloop.counter }}" class="answer" hidden>
									<p>
										{{ item.answer }}
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
					<div style="clear: both; float: none"></div>
				</div>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ main_page_titles.everything_to_be_best }}
	</h3>
	<div class="advantages-section" id="advantages">
		<div class="range-services-kurs">
			<div class="row">
				<div class="col-md-6">
					<div class="advantages">
						<div id="list-wrapper" class="list-wrapper">
							{% for item in main_page_everything_to_be_best_first %}
								<div data-key="{{ forloop.counter }}">
									<div
										class="element wow fadeInDown"
										style="visibility: visible; animation-name: fadeInDown"
									>
										<div class="row">
											<div class="col-xs-2">
												<div class="img-wrapper">
													<img
														src="{{ item.img.url }}"
														alt=""
													/>
												</div>
											</div>
											<div class="col-xs-10">
												<div class="title-h4">
													{{ item.title }}
												</div>
												<div class="text gray f16">
													{{ item.description }}
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							<div style="clear: both; float: none"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="advantages">
						<div id="list-wrapper" class="list-wrapper">
							{% for item in main_page_everything_to_be_best_last %}
								<div data-key="{{ forloop.counter }}">
									<div
										class="element wow fadeInDown"
										style="visibility: visible; animation-name: fadeInDown"
									>
										<div class="row">
											<div class="col-xs-2">
												<div class="img-wrapper">
													<img
														src="{{ item.img.url }}"
														alt=""
													/>
												</div>
											</div>
											<div class="col-xs-10">
												<div class="title-h4">
													{{ item.title }}
												</div>
												<div class="text gray f16">
													{{ item.description }}
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							<div style="clear: both; float: none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3 class="pretty-header left-right-line-short-header">
		{{ main_page_titles.professional_equipment }}
	</h3>
	<div class="photo_professional_equipment">
		<div class="row">
			<div id="list-wrapper" class="list-wrapper">
				{% for item in main_page_professional_equipment %}
					<div data-key="{{ forloop.counter }}">
						<div class="photo col-lg-3 col-xs-6">
							<a
								href="{{ item.img.url }}"
								data-fancybox="images"
							>
								<img
									src="{{ item.img.url }}"
								/>
							</a>
						</div>
					</div>
				{% endfor %}
				<div style="clear: both; float: none"></div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
